@model MasterPc.Models.CategoriaProduto

<title>MasterPcAdmin - Detalhar categoria</title>

<div class="card mb-3">
    <div class="card-header">
        <h4>Detalhes da categoria</h4>
    </div>

    <div class="card-body">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
        </dl>
        <p>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Editar", "Editar", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Voltar", "Listar", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </p>
    </div>
    <div class="card-footer small text-muted">Horario de Alteração @DateTime.Now </div>
</div>
