@model MasterPc.Models.Usuario
@using MasterPc.Types

<title>MasterPcAdmin - Cadastro Usuario </title>

<body class="bg-light">

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <div class="container">
            <div class="card card-register mx-auto mt-5">
                <div class="card-header text-center"><h5>Cadastrar uma conta</h5></div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GeneroId, "Gênero", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("GeneroId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.GeneroId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Tipo de Usuario", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                           @Html.DropDownList("TipoUsuario",
                           new List<SelectListItem>() {
                               new SelectListItem() { Text= "Administrador", Value = ((int)TipoUsuario.ADMINISTRADOR).ToString()},
                               new SelectListItem() { Text= "Suporte", Value = ((int)TipoUsuario.SUPORTE).ToString() },
                               new SelectListItem() { Text= "Usuário", Value = ((int)TipoUsuario.USUARIO).ToString() }
                           },
                           htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TipoUsuario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cadastrar" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>


